
 <div class="about"><h1>About Us</h1><hr>
    <strong>Corporate Overview</strong>
    <p>
        InterraIT has been a leader in the Information Technology Industry since its founding in 1996. The company is a Global Software Services organization that delivers innovative business and technology solutions to Fortune 1000 companies. Accredited as ISO 9001:2015 certified organization; it has also been listed as one of India’s Top 20 Best Employers by IDC-DQ Best Employers Survey.
    </p>
    </div>