<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink=''>Home</a>
      <a class="nav-item nav-link" routerLink="./public/sidenav" style="margin-left: 50px;">Contact us</a>
      <!-- <a class="nav-item nav-link" routerLink="#" style="margin-left: 50px;">Sign In</a> -->
      <a class="nav-item nav-link" routerLink="./public/team" routerLinkActive="active"
        style="margin-left: 50px; ">Team</a>
        <a class="nav-item nav-link" routerLink="./public/blog" routerLinkActive="active"
        style="margin-left: 50px; ">Blogs</a>
    </div>

  </nav>
</div>


<div>
  <router-outlet></router-outlet>
</div>